@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Inter:ital,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-primary: "Be Vietnam Pro", sans-serif;
    --text-color: #323c42;
    --red-color: #eb3e32;
    --orange-color: #ff6200;
}

body {
    font-family: var(--font-primary);
    color: var(--text-color);
}

.responsive {
    @apply lg:w-10/12 md:w-11/12 mx-auto py-5 px-4;
}

.sub-title {
    @apply uppercase text-[28px] tracking-widest mb-6;
}

@media (max-width: 767px) {
    body {
        padding-bottom: 60px;
    }
}

/* Header */
/* Animation phone */
@keyframes phoneRing {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    45% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(0deg);
    }
}

.animate-phone-ring {
    animation: phoneRing 0.8s ease-in-out infinite;
}

/* Active category */
.category-nav .active {
    color: var(--orange-color);
}

/* Animation */
/* Promo banner */
.hidden-promo-banner div:first-child {
    opacity: 0;
    transform: translateX(-100px); /* Trôi từ trái vào */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.hidden-promo-banner div:last-child {
    opacity: 0;
    transform: translateX(100px); /* Trôi từ phải vào */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    will-change: opacity, transform;
}

.visible-promo-banner div:first-child,
.visible-promo-banner div:last-child {
    opacity: 1;
    transform: translateX(0);
}

/* Hiệu ứng trôi từ dưới lên */
.slide-up-effect {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.visible-slide-up {
    opacity: 1;
    transform: translateY(0);
}

/* Hiệu ứng trượt vô hạn */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
}
